body, html {
    margin: 0;
    padding: 0;
}

body {
    background-image: repeating-linear-gradient(
	-45deg,
	#fffce1,
	#fffce1 45px,
	#f48589 45px,
	#f48589 90px
    );
    background-size: 200%;
    font-family: "Biaodian Pro Sans CNS", "Helvetica Neue", Helvetica, Arial, "Zhuyin Heiti", "Han Heiti", 'Microsoft YaHei', STXihei, 华文细黑, 微软雅黑, Heiti, 黑体, sans-serif;
    padding: 2em 0;
}

.account a {
    text-decoration: none;
}

.account a, .account i {
    display: inline-block;
    line-height: 1.5em;
    vertical-align: baseline;
}

.account i {
    font-size: 1.3em;
    text-align: center;
    width: 1.5em;
}

.account-dark a {
    color: #df5155;
}

.account-dark i {
    color: #df5155;
}

.account-dark span {
    color: #333;
}

.account-white a {
    color: #FAFAFA;
}

.account-white i {
    color: #EAEAEA;
}

.block-red {
    background: #df5155;
}

.block-black {
    background: #222;
}

.block-shadow {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15);
}

.block-white {
    background: #f7f3d8;
}

.footer {
    color: #EAEAEA;
    font-size: 0.8em;
}

@media (min-width: 768px){
	.footer {
		line-height: 3em;
	}
}

.footer span a {
    color: #df5155;
    text-decoration: none;
}

.link-showcase {
    display: none;
    border-bottom: 2px dashed #385068;
    padding: 0.5em 0.5em 0.6em 0.5em;
}

.link-showcase .entry {
    display: block;
    text-decoration: none;
    transition-duration: 0.25s;
}

.link-showcase .entry .link {
    color: #3E3B49;
    display: block;
    font-size: 1.1em;
    line-height: 3em;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.25s;
}

.link-showcase .entry .link:hover::after, .link-showcase .entry a:hover::before {
    color: #1E3B59;
    display: inline-block;
    margin: 0 0.5em;
    transition-duration: 0.25s;
    vertical-align: baseline;
}

.link-showcase .entry .link:hover::after {
    content: ']';
}

.link-showcase .entry .link:hover::before {
    content: '[';
}

.link-showcase .entry .disabled {
    cursor: not-allowed;
}

.link-showcase .entry i {
    text-align: center;
    vertical-align: middle;
    width: 1.6em;
}

.header {
    padding-bottom: 1em;
    padding-top: 1em;
}

.header .title {
    color: #e0dcdb;
    font-size: 1.5em;
    font-weight: 300;
}

.header .title .name {
    color: #EEE;
    font-size: 1.2em;
}

.margin-wrap {
    margin: 0 auto;
    max-width: 64em;
}

.picture-container {
    margin: 0 auto;
    max-height: 16em;
    max-width: 16em;
    position: relative;
}

.picture-container::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.picture {
    background: url('../images/headpic.png');
    background-size: 100%;
    border-radius: 50%;
    bottom: 1em;
    display: block;
	left: 1em;    
    position: absolute;
	right: 1em;
	top: 1em;
}

.tile {
    color: #333;
    line-height: 2em;
    padding-bottom: 2em;
    padding-top: 1em;
}

.tile .title {
    color: #222;
    font-weight: 300;
}

